.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >.text{
        text-align: center;
        margin: 2px;
    }
}
img{
    width: 300px;
}
.container{
    padding: 10px;
}