<div class="container">
    <div class="item">
        <div class="image">
            <img src="assets/images/colis.png" alt="colis">
        </div>
        <div class="text">
            <h3>Title</h3>
            Uber Eats est une plateforme de commande de repas en ligne qui permet aux utilisateurs de commander des repas dans une variété de restaurants et de les faire livrer à leur porte
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="assets/images/map.png" alt="colis">
        </div>
        <div class="text">
            <h3>Title</h3>
            Uber Eats est une plateforme de commande de repas en ligne qui permet aux utilisateurs de commander des repas dans une variété de restaurants et de les faire livrer à leur porte
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="assets/images/vieux.png" alt="colis">
        </div>
        <div class="text">
            <h3>Title</h3>
            Uber Eats est une plateforme de commande de repas en ligne qui permet aux utilisateurs de commander des repas dans une variété de restaurants et de les faire livrer à leur porte
        </div>
    </div>
</div>